<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/sidebars.css}" rel="stylesheet" />
  <link th:href="@{/print.min.css}" rel="stylesheet" />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>

  <title>Add Reservation</title>

</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="https://ist.id/image/Logo-09.png" alt="" width="30" class="d-inline-block align-text-top">
          <!--                    <img src="logoinfosys.jpg" alt="">-->
        </span>
        <div class="text logo-text">
          <span class="name">Cinema</span>
          <span class="profession">Reservation</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <li class="search-box">
          <i class='bx bx-search icon'></i>
          <form class="d-flex" role="search" th:action="@{/MVC/Reservations}">
            <input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search" required>
            <button input class="btn" type="button" id="btnClear" onclick="clearSearch()"><i
                class='bx bx-refresh icon'></i></button>
          </form>
        </li>
        <li class="search-box">
          <i class='bx bx-search icon'></i>
          <form class="d-flex" role="search" th:action="@{/MVC/Reservation/Id}">
            <input type="text" name="id" id="id" th:value="${id}" placeholder="ID" required>
            <button input class="btn" type="button" id="btnClear2" onclick="clearSearch()">
              <i class='bx bx-refresh icon'></i></button>
          </form>
        </li>
        <li class="search-box">
          <i class='bx bx-search icon'></i>
          <form class="d-flex" role="search" th:action="@{/MVC/Reservation/searchFilm}" method="post">
            <input type="text" name="name" th:value="${name}" placeholder="Title Film">
            <button input class="btn" type="button" id="btnClear3" onclick="clearSearch()">
              <i class='bx bx-refresh icon'></i></button>
          </form>
        </li>
        <ul class="menu-links">
          <li class="nav-link">
            <a href="/MVC">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Homepage</span>
            </a>
          </li>

          <li class="nav-link dropdown">
            <i class="dropbtn">
              <i class='bx bx-down-arrow icon bx-fade-down'></i>
              <span class="text nav-text">Features</span>
              <i class='bx bx-down-arrow icon' style='color:rgba(0,0,0,0)'></i>
            </i>
            <div class="dropdown-content">
              <a href="/MVC/Film?keyword=true">Films (Now Airing)</a>
              <a href="/MVC/schedules">Check schedules</a>
              <a href="/MVC/Seats?keyword=true">Available seats</a>
              <a href="/MVC/Reservation/new">Make a reservation</a>
              <a href="/MVC/User/Signup">Registration</a>
            </div>
          </li>
          <li class="nav-link">
            <a href="/MVC/Film">
              <i class='bx bx-film icon'></i>
              <span class="text nav-text">Film</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/MVC/User">
              <i class='bx bx-user icon'></i>
              <span class="text nav-text">User</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/MVC/Seats">
              <i class='bx bx-chair icon'></i>
              <span class="text nav-text">Seats</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="/MVC/Reservations">
              <i class='bx bx-calendar icon'></i>
              <span class="text nav-text">Schedule</span>
            </a>
          </li>
          <li class="nav-link">
            <a role="button" onclick="printJS('Table-Show', 'html')">
              <i class='bxs-file-pdf icon'></i>
              <span class="text nav-text">PDF</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>
    </div>

  </nav>
  <section class="home">
    <div class="d-flex flex-column min-vh-100 d-grid gap-2 col-6 mx-auto justify-content-center align-items-center">
      <h1>Add Reservation</h1>
      <p>Click Add to Input User Id and Schedule Id</p>
      <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalNew">
        Add
      </button>
      <a type="button" class="btn btn-outline-secondary btn-lg" href="/MVC/Reservations">Check Reservations</a>
    </div>
    <div class="modal" id="modalNew" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Reservations</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:method="post" th:action="@{/MVC/Reservation/add}" th:object="${reservation}">
            <div class="modal-body">
              <div class="mb-3">
                <label for="user" class="form-label">User ID</label>
                <input type="text" class="form-control" th:field="*{user.userId}" id="user" placeholder="user">
                <span th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></span>
              </div>
              <div class="mb-3">
                <label for="schedule" class="form-label">Schedule ID</label>
                <input type="text" class="form-control" th:field="*{schedule.scheduleId}" id="schedule"
                  placeholder="schedule">
                <span th:if="${#fields.hasErrors('schedule')}" th:errors="*{schedule}"></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-primary">Add Reservation</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</section>
<script th:src="@{/print.min.js}"></script>
<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<script th:src="@{/styles/js/print.min.js}"></script>
<script>
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  })

  searchBtn.addEventListener("click", () => {
    sidebar.classList.remove("close");
  })

  modeSwitch.addEventListener("click", () => {
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
      modeText.innerText = "Light mode";
    } else {
      modeText.innerText = "Dark mode";

    }
  });
</script>
<script type="text/javascript">
  function clearSearch() {
    window.location = "[[@{/MVC/Reservations}]]";
  }
</script>
</body>

</html>