<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/sidebars.css}" rel="stylesheet" />
    <link th:href="@{/print.min.css}" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <title>Get All User</title>


</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <img src="https://ist.id/image/Logo-09.png" alt="" width="30" class="d-inline-block align-text-top">
                </span>
            <div class="text logo-text">
                <span class="name">User</span>
                <span class="profession">Registration</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <!--      <li class="search-box">-->
            <!--        <i class='bx bx-search icon'></i>-->
            <!--        <input type="text" placeholder="Search...">-->
            <!--      </li>-->
            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <form class="d-flex" role="search" th:action="@{/MVC/User}">
                    <input type="text" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search" required>
                    <!-- <button type="submit" class="bx bx-search icon"> </button> -->
                    <button input class="btn" type="button" id="btnClear" onclick="clearSearch()"><i class='bx bx-refresh icon'></i></button>
                </form>
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/MVC">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Homepage</span>
                    </a>
                </li>

                <li class="nav-link dropdown">
                    <i class="dropbtn">
                        <i class='bx bx-down-arrow icon bx-fade-down'></i>
                        <span class="text nav-text">Features</span>
                        <i class='bx bx-down-arrow icon' style='color:rgba(0,0,0,0)' ></i>
                    </i>
                    <div class="dropdown-content">
                        <a href="/MVC/schedules">Check schedules</a>
                        <a href="/MVC/Seats">Available seats</a>
                        <a href="/MVC/Reservation/new">Make a reservation</a>
                        <a href="/MVC/User/Signup">Registration</a>
                    </div>
                </li>


                <li class="nav-link">
                    <a href="/MVC/Film">
                        <i class='bx bx-film icon'></i>
                        <span class="text nav-text">Film</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/MVC/Seats">
                        <i class='bx bx-chair icon'></i>
                        <span class="text nav-text">Seats</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/MVC/schedules">
                        <i class='bx bx-calendar icon'></i>
                        <span class="text nav-text">Schedule</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/MVC/Reservations">
                        <i class='bx bx-note icon'></i>
                        <span class="text nav-text">Reservation</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a role="button" onclick="printJS('PDF', 'html')">
                        <i class='bx bxs-file-pdf icon'></i>
                        <span class="text nav-text">PDF</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <!--            <li class="">-->
            <!--                <a href="#">-->
            <!--                    <i class='bx bx-log-out icon' ></i>-->
            <!--                    <span class="text nav-text">Logout</span>-->
            <!--                </a>-->
            <!--            </li>-->

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>
<section class="home">
    <div class="text">Get All User</div>
    <div th:if="${User_masuk}==null" class="container">
        <h2>No User Found!</h2>
    </div>
    <div th:unless="${User_masuk}==null" class="container">
        <div class="button" data-bs-toggle="modal" data-bs-target="#modalNew">
            <i class='bx bx-list-plus icon'></i>Add User
            <!--                <a class="btn" href="/MVC/User/Signup" role="button">Add a New User</a>-->
        </div>
        <table id="PDF" class="table table-striped">
            <thead>
            <tr>
                <th  scope="col">User ID</th>
                <th  scope="col">Username</th>
                <th  scope="col">Email ID</th>
                <th  scope="col">Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="User : ${User_masuk}">
                <td th:text="${User.userId}"></td>
                <td th:text="${User.username}"></td>
                <td th:text="${User.emailId}"></td>
                <td th:text="${User.password}"></td>
                <td>
                    <a data-bs-toggle="modal" th:attr="data-bs-target='#modalUpdate'+${User.userId}"
                       class="bx bxs-edit icon d-print-none" role="button"></a>
                </td>
                <td>
                    <a data-bs-toggle="modal" th:attr="data-bs-target='#modalDelete'+${User.userId}"
                       class="bx bxs-trash icon d-print-none" role="button"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    <p><a href="/signup">Add a new user</a></p>-->
    </div>

    <!--   =========== PAGINATION ==========-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/MVC/User?page=prev}">Previous</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=1}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=2}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=3}">3</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=4}">4</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=5}">5</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=6}">6</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=7}">7</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=8}">8</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/MVC/User?page=9}">9</a></li>

            <li class="page-item">
                <a class="page-link" th:href="@{/MVC/User?page=next}">Next</a>
            </li>
        </ul>
    </nav>

    <!-- start modal -->
    <!-- Modal Update-->
    <div class="modal" th:each="User : ${User_masuk}" th:id="'modalUpdate'+${User.userId}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <!--=======MODAL HEADER===========-->
                <div class="modal-header">
                    <h5 class="modal-title">Update User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:method="post" th:action="@{/MVC/User/update-user/{id}(id=${User.userId})}" th:object="${user_add}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="username1" class="form-label">Username</label>
                            <input type="text" class="form-control" th:username="username" th:value="${User.username}" id="username1"
                                   placeholder="username">
                            <span th:if="${#fields.hasErrors('username')}" th:errors="{username}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="emailId" class="form-label">Email ID</label>
                            <input type="text" class="form-control" th:emailId="emailId" th:value="${User.emailId}" id="emailId"
                                   placeholder="Email ID">
                            <span th:if="${#fields.hasErrors('emailId')}" th:errors="{emailId}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" th:password="password" th:value="${User.password}" id="password"
                                   placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="{password}"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal" th:each="User : ${User_masuk}" th:id="'modalDelete'+${User.userId}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:method="post" th:action="@{/MVC/User/delete/{id}(id=${User.userId})}">
                    <div class="modal-body">
                        <h3>yakin ingin di delete?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Add New-->
    <div class="modal" id="modalNew" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:method="post" th:action="@{/MVC/User/add-user}" th:object="${user_add}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="userId" class="form-label">User ID</label>
                            <input type="text" class="form-control" th:field="*{userId}" id="userId" placeholder="USER ID">
                            <span th:if="${#fields.hasErrors('UserId')}" th:errors="{userId}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="username2" class="form-label">Username</label>
                            <input type="text" class="form-control" th:field="*{username}" id="username2" placeholder="username">
                            <span th:if="${#fields.hasErrors('username')}" th:errors="{username}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="emailId" class="form-label">Email ID</label>
                            <input type="text" class="form-control" th:field="*{emailId}" id="emailId1" placeholder="EMAIL ID">
                            <span th:if="${#fields.hasErrors('emailId')}" th:errors="{emailId}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="text" class="form-control" th:field="*{password}" id="password1" placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="{password}"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- end modal -->


</section>
<script th:src="@{/print.min.js}"></script>
<script>
          const body = document.querySelector('body'),
          sidebar = body.querySelector('nav'),
          toggle = body.querySelector(".toggle"),
          searchBtn = body.querySelector(".search-box"),
          modeSwitch = body.querySelector(".toggle-switch"),
          modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click" , () =>{
            sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click" , () =>{
            sidebar.classList.remove("close");
        })

        modeSwitch.addEventListener("click" , () =>{
            body.classList.toggle("dark");

            if(body.classList.contains("dark")){
                modeText.innerText = "Light mode";
            }else{
                modeText.innerText = "Dark mode";

            }
});
    </script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/MVC/User}]]";
    }
</script>
</body>
</html>