<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cinema Reservation</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body {
            background-image: url(https://wallpaperaccess.com/full/229832.jpg);
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>

<body>
    <!--NAVBAR-->
    <!--<nav class="navbar row justify-content-start" style="background-color: #010502, color: #E98455">-->
    <!--    <div class="container-fluid">-->
    <!--        <a class="navbar-brand" href="#">Navbar</a>-->
    <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--            <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->
    <!--        <div class="collapse navbar-collapse" id="navbarNav">-->
    <!--            <ul class="navbar-nav">-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link active" aria-current="page" href="#">Home</a>-->
    <!--                </li>-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link" href="#">Features</a>-->
    <!--                </li>-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link" href="#">Pricing</a>-->
    <!--                </li>-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link disabled">Disabled</a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</nav>-->




    <!--<div class="row" align="center">-->
    <!--    <div class="col-md-1"><h1>Cinema Reservation</h1></div>-->
    <!--<div align="center">-->
    <!--    <h1>Cinema Reservation</h1>-->
    <!--    <h3>==================================</h3>-->
    <!--    <h3>MAIN MENU</h3>-->
    <!--        <a href="#">1. Registration</a><br/>-->
    <!--        <a href="#">2. Films (Now Airing)</a><br/>-->
    <!--        <a href="/MVC/schedules">3. Check schedules</a><br/>-->
    <!--        <a href="#">4. Available seats</a><br/>-->
    <!--        <a href="/MVC/Reservations">5. Make a reservation</a><br/>-->
    <!--</div>-->
    <!--</div>-->
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <span class="image">
                    <img src="https://ist.id/image/Logo-09.png" alt="" width="30" class="d-inline-block align-text-top">
                </span>
                <a class="navbar-brand" href="/MVC"> Cinema XXI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse row justify-content-center" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/MVC">Home</a>
                        </li>
                        <li class="nav-item">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Features
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark"
                                            aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" href="/MVC/Film?keyword=true">Films (Now Airing)</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/MVC/schedules">Check schedules</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/MVC/Seats?keyword=true">Available
                                                    seats</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/MVC/Reservation/new">Make a
                                                    reservation</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/MVC/User/Signup">Registration</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MVC/Film">Films</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/MVC/schedules">schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MVC/Seats">seats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MVC/Reservations">reservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/MVC/User">User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>

    <h1 class="row justify-content-center text-white">Now Airing</h1>
    <br>
    <!--JUMBOTRON-->



    <div class="hero" style="background-image: url(https://wallpaperaccess.com/full/229832.jpg;">
        <div class="container">
            <div class="row justify-content-center">
                <div id="carouselExampleControls" class="carousel slide col-8" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="http://cdn.wallpaperhi.com/1920x1080/20120307/transformers%20movies%20film%20movie%20posters%201920x1080%20wallpaper_www.wallpaperhi.com_33.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.wallpapersafari.com/76/85/fFsbXB.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://wallpaperaccess.com/full/645142.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js+bootstrap.min.js+jquery.sticky.js+main.js.pagespeed.jc.gbpD47kZ0L.js"></script>
    <script>eval(mod_pagespeed_zKQK5oKNg0);</script>
    <script>eval(mod_pagespeed_OkmV92xvPV);</script>
    <script>eval(mod_pagespeed_3hUIqZpwy1);</script>
    <script>eval(mod_pagespeed_NONqyy5Hp7);</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>