<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Cinema Reservation</title>
    <style>
        a {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
        padding: 5px;
        text-decoration: none;
        }
        h1 {
        font-family: sans-serif;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Cinema Reservation</h1>
    <h3>==================================</h3>
    <h3>MAIN MENU</h3>
        <a href="#">1. Registration</a><br/>
        <a href="#">2. Films (Now Airing)</a><br/>
        <a href="/MVC/schedules">3. Check schedules</a><br/>
        <a href="#">4. Available seats</a><br/>
        <a href="/MVC/Reservations">5. Make a reservation</a><br/>
</div>
</body>
</html>