<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Home</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand"><h3>Home</h3></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="Long" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Reservasi Tiket Bioskop</h5>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm ">
      <h5>Film</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/MVC/Film">Get All </a>
    </div>
    <div class="col">
      <a href="/MVC/Film/1">Get By Id</a>
    </div>
    <div class="col">
      <a href="/MVC/Film/new-film">Add New Film</a>
    </div>
    <div class="col">
      <a href="/MVC/Film">delete</a>
    </div>
    <div class="col">
      <a href="/MVC/Film">Update</a>
    </div>
  </div>
</div>
<hr>
</body>
</html>
