<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Schedule</title>
    <style type="text/css">

    .modal{
      background-color: #9ab3be;
      width: 500px;
      padding: 30px;
      border: 5px solid gray;
      margin: 100px;
    }
    .modal .modal-body label{
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    .modal .modal-body .input[type=text] {
        display: inline-block;
        width: 200px;
    }
    .modal .modal-footer {
        padding: 55px;
        margin: 5px;
        text-align: right;
    }
    .modal .modal-header .modal-title {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }

</style>
</head>
<body>
    <div align="center">
        <form action="#"
        th:action="@{/MVC/schedules/update-schedule/{id}(id=${schedule.scheduleId})}"
        th:object="${schedule}"
        method="post">
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Schedule</h5>
                            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                        </div>
                        <div class="modal-body">
                            <!--                <p>Modal body text goes here.</p>-->

                            <label for="films">Film ID</label>
                            <input type="text" th:field="*{films.filmId}" id="films" placeholder="films"><br/>
                            <span th:if="${#fields.hasErrors('films')}" th:errors="*{films}"></span>

                            <!--    //dateShow-->
                            <label for="dateShow">Date Show</label>
                            <input type="text" th:field="*{dateShow}" id="dateShow" placeholder="date show"><br/>
                            <span th:if="${#fields.hasErrors('dateShow')}" th:errors="*{dateShow}"></span>

                            <!--    //seats-->
                            <label for="seats">Seat ID</label>
                            <input type="text" th:field="*{seats.seatId}" id="seats" placeholder="seats"><br/>
                            <span th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"></span>

                            <!--    //showStart-->
                            <label for="showStart">Show Start</label>
                            <input type="text" th:field="*{showStart}" id="showStart" placeholder="show start"><br/>
                            <span th:if="${#fields.hasErrors('showStart')}" th:errors="*{showStart}"></span>

                            <!--    //showEnd-->
                            <label for="showEnd">Show End</label>
                            <input type="text" th:field="*{showEnd}" id="showEnd" placeholder="show end"><br/>
                            <span th:if="${#fields.hasErrors('showEnd')}" th:errors="*{showEnd}"></span>

                            <!--    //price-->
                            <label for="price">Price</label>
                            <input type="text" th:field="*{price}" id="price" placeholder="price"><br/>
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                        </div>
                        <div class="modal-footer">
                            <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                            <button input type="submit" value="Add Film" >update schedule</button>
                            <input class="btn btn-outline-secondary" type="button" value="Close" id="btnClear" onclick="clearSearch()" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/MVC/Film}]]";
    }
</script>
</body>
</html>