<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add New Seat</title>
    <style type="text/css">

    .modal{
      background-color: #9ab3be;
      width: 500px;
      padding: 30px;
      border: 5px solid gray;
      margin: 100px;
    }
    .modal .modal-body label{
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    .modal .modal-body .input[type=text] {
        display: inline-block;
        width: 200px;
    }
    .modal .modal-footer {
        padding: 55px;
        margin: 5px;
        text-align: right;
    }
    .modal .modal-header .modal-title {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }

</style>
</head>
<body>
<div align="center">
    <form action="#"
          th:action="@{/MVC/User/new-seats}"
          th:object="${seats}"
          method="post">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a New Seat</h5>
                        <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                    </div>
                    <div class="modal-body">
                        <!--                <p>Modal body text goes here.</p>-->

<!--                        &lt;!&ndash;SeatId&ndash;&gt;-->
<!--                        <label for="Seats">seatId</label>-->
<!--                        <input type="text" th:field="*{seatId}" id="Seats" placeholder="Enter Your Seat !"><br/>-->
<!--                        <span th:if="${#fields.hasErrors('seats')}" th:errors="*{Seats}"></span>-->

                        <!--Seat Number-->
                        <label for="seatNumber">Seat Number</label>
                        <input type="text" th:field="*{seatNumber}" id="seatNumber" placeholder="Enter your Seat Number !"><br/>
                        <span th:if="${#fields.hasErrors('seatNumber')}" th:errors="*{seatNumber}"></span>

                        <!--Studio Name-->
                        <label for="studioName">studioName</label>
                        <input type="text" th:field="*{studioName}" id="studioName" placeholder="studioName"><br/>
                        <span th:if="${#fields.hasErrors('studioName')}" th:errors="*{studioName}"></span>

                        <!--is Available-->
                        <label for="isAvailable">isAvailable</label>
                        <input type="text" th:field="*{isAvailable}" id="isAvailable" placeholder="0 or 1"><br/>
                        <span th:if="${#fields.hasErrors('isAvailable')}" th:errors="*{isAvailable}"></span>


                    </div>
                    <div class="modal-footer">
                        <!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                        <button input type="submit" value="Add Film" >Register</button>
                        <input class="btn btn-outline-secondary" type="button" value="All Seats"
                               id="btnClear" onclick="clearSearch()" />
                        <input class="btn btn-outline-secondary" type="button" value="Back Home"
                               id="btnHome" onclick="backHome()" />

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/MVC/Seats}]]";
    }
</script>
<!--<div align="center">-->
<!--    <h2>Add New Film</h2>-->
<!--    <form action="#"-->
<!--          th:action="@{/MVC/Film/add-film}"-->
<!--          th:object="${films}"-->
<!--          method="post">-->

<!--    //films-->
<!--        <label for="filmId">Film ID</label>-->
<!--        <input type="text" th:field="*{filmId}" id="filmId" placeholder="filmId"><br/>-->
<!--        <span th:if="${#fields.hasErrors('filmId')}" th:errors="*{filmId}"></span>-->

<!--    //dateShow-->
<!--        <label for="name">Film Name</label>-->
<!--        <input type="text" th:field="*{name}" id="name" placeholder="name"><br/>-->
<!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->

<!--        &lt;!&ndash;    //seats&ndash;&gt;-->
<!--        <label for="isPlaying">Status</label>-->
<!--        <input type="text" th:field="*{isPlaying}" id="isPlaying" placeholder="0 or 1"><br/>-->
<!--        <span th:if="${#fields.hasErrors('isPlaying')}" th:errors="*{isPlaying}"></span>-->



<!--        <input type="submit" value="Add Schedule">-->
<!--    </form>-->
<!--</div>-->
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/MVC/Seats}]]";
    }
    function backHome() {
        window.location = "[[@{/MVC/}]]";
    }
</script>
</body>
</html>
