<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add New Schedule</title>
    <style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text] {
        display: inline-block;
        width: 200px;
    }
    input[type=submit] {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Add New Seats</h2>
    <form action="#"
          th:action="@{/MVC/Seats/add-seats}"
          th:object="${seats}"
          method="post">

<!--        &lt;!&ndash;    //seatId&ndash;&gt;-->
<!--        <label for="Seats">seatId</label>-->
<!--        <input type="text" th:field="*{seatId}" id="Seats" placeholder="Seats"><br/>-->
<!--        <span th:if="${#fields.hasErrors('seats')}" th:errors="*{Seats}"></span>-->

        <!--    //seatsNumber-->
        <label for="seatNumber">seatsNumber</label>
        <input type="text" th:field="*{seatNumber}" id="seatNumber" placeholder="seatNumber"><br/>
        <span th:if="${#fields.hasErrors('seatNumber')}" th:errors="*{seatNumber}"></span>

        <!--    //studioName-->
        <label for="studioName">studioName</label>
        <input type="text" th:field="*{studioName}" id="studioName" placeholder="studioName"><br/>
        <span th:if="${#fields.hasErrors('studioName')}" th:errors="*{studioName}"></span>

        <!--    //isAvailable-->
        <label for="isAvailable">isAvailable</label>
        <input type="text" th:field="*{isAvailable}" id="isAvailable" placeholder="0 or 1"><br/>
        <span th:if="${#fields.hasErrors('isAvailable')}" th:errors="*{isAvailable}"></span>


        <input type="submit" value="Add Seats">
    </form>
</div>
</body>
</html>