<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit User</title>
    <style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text] {
        display: inline-block;
        width: 200px;
    }
    input[type=submit] {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Edit User</h2>
    <form action="#"
          th:action="@{/MVC/User/update-user/{id}(id=${user.userId})}"
          th:object="${user}"
          method="post">

<!--            //user ID-->
        <label for="userId">User ID   : </label>
        <input type="text" th:field="*{userId}" id="userId" placeholder="User ID"><br/>
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>

<!--               username-->
        <label for="username">Username   : </label>
        <input type="text" th:field="*{username}" id="username" placeholder="Username"><br/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

        <!--    //email ID-->
        <label for="emailId">Email ID   : </label>
        <input type="text" th:field="*{emailId}" id="emailId" placeholder="Email ID"><br/>
        <span th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}"></span>


        <!--    //password-->
        <label for="password">Password   : </label>
        <input type="text" th:field="*{password}" id="password" placeholder="Password"><br/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>


        <input type="submit" value="Update User">
    </form>
</div>
</body>
</html>